#body_image {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: fixed;
    background-image: url(../images/hotel_start.jpg);
    width: 100%;
}

#header_position {
    margin-top: 15%;
    background-color: #7899ba;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
}

h1 {
    width: 100%
}

#centre_form {
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    background-color: #7899ba;
    border-radius: 5px;
}

#color_form {
    opacity: 0.8;
}

.button_position {
    margin-left: 81.5%;
}

.show_inline {
    display: inline-block;
}

#booking_image {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: fixed;
    background-image: url(../images/hotel_booking.jpg);
    width: 100%;
}


/*Begin Slideshow*/

.slidershow {
    width: 700px;
    height: 400px;
    overflow: hidden;
    margin-top: 10px;
}

.middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.navigation {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}

.bar {
    width: 50px;
    height: 10px;
    border: 2px solid #fff;
    margin: 6px;
    cursor: pointer;
    transition: 0.4s;
}

.bar:hover {
    background: #fff;
}

input[name="r"] {
    position: absolute;
    visibility: hidden;
}

.slides {
    width: 500%;
    height: 100%;
    display: flex;
}

.slide {
    width: 20%;
    transition: 0.6s;
}

.slide img {
    width: 100%;
    height: 100%;
}

#r1:checked~.s1 {
    margin-left: 0;
}

#r2:checked~.s1 {
    margin-left: -20%;
}

#r3:checked~.s1 {
    margin-left: -40%;
}

#r4:checked~.s1 {
    margin-left: -60%;
}

#r5:checked~.s1 {
    margin-left: -80%;
}


/*End Slide*/

.booking-section {
    background-color: black;
    opacity: 80%;
    color: white;
    text-align: center;
    margin-top: 15px;
    height: 400px;
    width: 400px;
    border: white solid 5px;
}

.compare-but {
    background-color: #0cea9e;
    border-radius: 25px;
    width: 150px;
}

.top-section {
    background-color: #378bde;
}

.container-2 {
    background-color: white;
    margin-left: 25%;
    margin-right: 25%;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    border: black solid 5px;
}

.cont-2-text {
    font-family: 'Ubuntu', sans-serif;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #0cea9e;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

.button:hover {
    background-color: #09bd94
}

.button:active {
    background-color: #09bd94;
    box-shadow: 0 5px #79838e;
    transform: translateY(4px);
}

h4 {
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
}

label,
legend {
    font-family: 'Ubuntu', sans-serif;
}

.icon-img {
    margin-left: 25%;
    margin-right: 25%;
}

.number {
    font-size: 40px;
}

.logo-pic {
    height: 75px;
}

.nav-text {
    font-family: 'Ubuntu', sans-serif;
    font-size: 25px;
}

.book-img {
    height: 25px;
    padding-right: 10px;
}

.hotel_compare {
    background-color: #378bde;
    width: 30%;
    display: inline-block;
    margin-left: 12%;
    border-radius: 5px;
}

.book_button {
    font-size: 20px;
    background-color: #378bde;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid #378bde;
    border-radius: 5%;
}

#mail_background {
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../images/img3.jpg);
}

#header_mail {
    padding: 5%;
    width: 30%;
    font-size: 20px;
    background-color: rgb(220, 220, 220);
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}

footer {
    margin: 0px;
    background-color: #4e4e4e;
    color: white;
    text-align: center;
    font-size: 20px;
    padding: 5px;
}