#body_image {
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../images/hotel_start.jpg);
    width: 100%;
}

.general_padding {
    padding-left: 1.5%;
    padding-right: 1.5%;
    padding-bottom: 1.5%;
}

#header_position {
    background-color: #343a40;
    color: rgb(220, 220, 220);
    font-family: 'Open Sans Condensed', sans-serif;
    opacity: 0.8;
}

#header_main {
    width: 30%;
    font-size: 40px;
}

h1 {
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#centre_form {
    font-family: 'Open Sans Condensed', sans-serif;
    color: rgb(255, 255, 255);
    font-size: 30px;
    opacity: 0.8;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8%;
    background-color: #343a40;
    border-radius: 5px;
}

#color_form {
    opacity: 0.8;
}

.button_position {
    width: 10%;
    margin-left: auto;
    margin-right: auto;
}

.show_inline {
    display: inline-block;
}

#booking_image {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: fixed;
    background-image: url(../images/hotel_booking.jpg);
    width: 100%;
}

#background-color {
    background-color: #378bde;
}


/*Begin Slideshow*/

.slideshow_position {
    width: 100%;
    margin-left: 60%;
    margin-top: -16%;
    position: absolute;
}

.slidershow {
    width: 700px;
    height: 400px;
    overflow: hidden;
    width: 70%;
    margin-left: 70%;
    margin-top: -16%;
    position: relative;
}

.middle {
    transform: translate(-50%, -50%);
}

.navigation {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}

.bar {
    width: 50px;
    height: 10px;
    border: 2px solid #fff;
    margin: 6px;
    cursor: pointer;
    transition: 0.4s;
}

.bar:hover {
    background: #fff;
}

input[name="r"] {
    position: absolute;
    visibility: hidden;
}

.slides {
    width: 500%;
    height: 100%;
    display: flex;
}

.slide {
    width: 20%;
    transition: 0.6s;
}

.slide img {
    width: 100%;
    height: 100%;
}

#r1:checked~.s1 {
    margin-left: 0;
}

#r2:checked~.s1 {
    margin-left: -20%;
}

#r3:checked~.s1 {
    margin-left: -40%;
}

#r4:checked~.s1 {
    margin-left: -60%;
}

#r5:checked~.s1 {
    margin-left: -80%;
}


/*End Slide*/

.booking-section {
    background-color: black;
    opacity: 80%;
    color: white;
    text-align: center;
    margin-top: 15px;
    height: 400px;
    width: 400px;
    border: white solid 5px;
    width: 30%;
    display: inline-block;
}

.compare-but {
    background-color: #0cea9e;
    border-radius: 25px;
    width: 150px;
    display: inline-block;
}

.container-2 {
    background-color: white;
    margin-left: 25%;
    margin-right: 25%;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    border: black solid 5px;
}

.hotel1 {
    width: 40%;
    display: inline-block;
}

.hotel2 {
    width: 40%;
    display: inline-block;
}

.cont-2-text {
    font-family: 'Ubuntu', sans-serif;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #0cea9e;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

.button:hover {
    background-color: #09bd94
}

.button:active {
    background-color: #09bd94;
    box-shadow: 0 5px #79838e;
    transform: translateY(4px);
}

h4 {
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
}

label,
legend {
    font-family: 'Ubuntu', sans-serif;
}

.icon-img {
    margin-left: 25%;
    margin-right: 25%;
    width: 50%;
}

.number {
    font-size: 40px;
}

.logo-pic {
    height: 75px;
}

.nav-text {
    font-family: 'Ubuntu', sans-serif;
    font-size: 25px;
}

.booking-box {
    display: inline-block;
}

.book-img {
    height: 25px;
    padding-right: 10px;
}

#header_select {
    font-family: 'Open Sans Condensed', sans-serif;
    background-color: #343a40;
    color: rgb(220, 220, 220);
    padding: 1%;
    font-size: 50px;
    margin-left: auto;
    margin-right: auto;
    opacity: 0.8;
}

#select_h1 {
    font-family: 'Open Sans Condensed', sans-serif;
    background-color: #343a40;
    color: white;
    margin-bottom: -.1%;
    width: 100%;
}

#header_booking {
    font-family: 'Open Sans Condensed', sans-serif;
    background-color: #343a40;
    color: rgb(220, 220, 220);
    padding: 1%;
    font-size: 50px;
    margin-left: auto;
    margin-right: auto;
    opacity: 0.8;
}

#booking_head_position {
    opacity: 0.8;
    padding: 1%;
    font-size: 50px;
    background-color: #343a40;
    width: 100%;
    color: white;
}

.hotel_compare {
    vertical-align: top;
    margin-top: 5%;
    opacity: 0.8;
    background-color: #378bde;
    width: 40%;
    display: inline-block;
    border-radius: 5px;
    margin-left: 5%;
}

.book_button {
    margin-top: 5%;
    font-size: 20px;
    background-color: #343a40;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid #343a40;
    border-radius: 5%;
    opacity: 0.8;
    margin-bottom: 2%;
    color: white;
}

.container_icon {
    border: 5 px solid black;
    margin: 15px;
    padding: 2px;
    border-radius: 20px;
    box-shadow: 10px 10px 5px grey;
}

.checkbox {
    width: 5px;
}

#mail_background {
    background-size: cover;
    background-image: url(../images/img3.jpg);
}

#header_mail {
    opacity: 0.8;
    padding: 2%;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 50px;
    background-color: #343a40;
    width: 100%;
    color: white;
}

footer {
    margin: 0px;
    background-color: #4e4e4e;
    color: white;
    text-align: center;
    font-size: 20px;
    padding: 5px;
}

@media screen and (max-width:770px) {
    #centre_form {
        width: 80%;
    }
    .hotel1 {
        margin-left: auto;
        margin-right: auto;
        width: 80%;
    }
    .hotel2 {
        margin-top: 2%;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
    }
    .slidershow {
        display: none;
    }
    .booking-section {
        width: 100%;
    }
}

@media screen and (max-width:680px) {
    #centre_form {
        width: 80%;
    }
}

@media screen and (max-width:560px) {
    .hotel_compare {
        width: 80%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding-top: 1.5%;
        padding-bottom: 1.5%;
    }
    #header_main {
        font-size: 20px;
    }
    .booking-section {
        width: 100%;
    }
    .hotel1 {
        margin-left: auto;
        margin-right: auto;
        width: 80%;
    }
    .hotel2 {
        margin-top: 2%;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
    }
    .slidershow {
        display: none;
    }
}

@media screen and (min-width:1026px) {
    .slidershow {
        margin-top: -20%;
    }
}

@media screen and (max-width:1025px) {
    .slidershow {
        margin-top: -30%;
        width: 70%;
    }
    .hotel1 {
        margin-top: -10%;
        display: block;
    }
    .hotel2 {
        display: block;
    }
}

@media screen and (max-width:900px) {
    .slidershow {
        width: 70%;
    }
    .hotel1 {
        margin-top: -10%;
        display: block;
    }
    .hotel2 {
        display: block;
    }
}

@media screen and (min-width:2000px) {
    .slidershow {
        margin-top: -20%;
        width: 70%;
        margin-left: 100%;
    }
    .booking-section {
        margin-left: 20%;
    }
}